spring:
  application:
    name: demo
  output:
    ansi:
      enabled: ALWAYS
  jackson:
    serialization:
      fail-on-empty-beans: false
logging:
  level:
    com:
      example:
        demo: debug
server:
  port: 8080